<html>
	<head>
		<title>
			Timesheet	
		</title>
		<style type="text/css">

			#submit_filter {
				background-color: #428BCA;
				//float:left;
			}

			#close_filter {
				background-color: #A21414;
				//float:left;
			}
		</style>
	</head>
	<body>
		<div class="col-sm-9">	
			<button type="button" class="buttons" id="filters">
	  			<i class="fa fa-filter"></i> &nbsp;Filters
	  		</button>
	  	</div>
		<div id="filter_div" class="col-sm-9" style="margin-top:5px;display:none;">	
	  		<form style="margin-top: -20px;" id ="date_filter" action="/timesheet" method="GET" class="form-horizontal">
			<div class="form-group">
					<div class="col-sm-3"> 
						<label for="start_date"> Start Date :</label>
							<input class ="form-control" type="date" name="start_date" id="start_date" value="<%= 
								if params.has_key?(:start_date)
									params[:start_date]
								else
									Date.today - 30
								end %>"/>
					</div>
					<div class="col-sm-3"> 
						<label for="end_date"> End Date :</label>
							<input class="form-control" type="date" name="end_date" id="end_date" value="<%= 
								if params.has_key?(:end_date)
									params[:end_date]
								else	
									Date.today
								end %>"/>
					</div>
					<div class="col-sm-3"> 
						<label for="employee_id"> Employee :</label>
							<select name="employee_id" class="form-control">
								<option class="form-control" value="0">All</option>
								<%
									@users.each { |user| if (params.has_key?(:employee_id) && (user.id.to_s == params[:employee_id].to_s))
								%>
								<option class="form-control" value="<%= user.id %>" selected><%= user.name%></option>
								<% else
								%>
								<option class="form-control" value="<%= user.id %>"><%= user.name%></option>
								<%
								end } %>
							</select>
					</div>
					<div class="col-sm-3">
						<button id="submit_filter" class="buttons" style="margin-top: 12%; border-radius: 100px;"><i class="glyphicon glyphicon-ok"></i> </button>
					</div>
			</div>
			<div class="form-group">
					<div class="col-sm-3"> 
						<label for="client_id"> Clients :</label>
							<select id="client_select" name="client_id" class="form-control">
								<option class="form-control" value="0">All</option>
								<%
									@client.each { |client| if (params.has_key?(:client_id) && (client.id.to_s == params[:client_id].to_s))
								%>
								<option class="form-control" value="<%= client.id %>" selected><%= client.client_name%></option>
								<% else
								%>
								<option class="form-control" value="<%= client.id %>"><%= client.client_name%></option>
								<%
								end } %>
							</select>
					</div>
					<div class="col-sm-3"> 
						<label for="project_id"> Projects :</label>
							<select id="project_select" name="project_id" class="form-control">
								<option class="form-control" value="0">All</option>
								<%
									@project.each { |project| if (params.has_key?(:project_id) && (project.id.to_s == params[:project_id].to_s))
								%>
								<option class="form-control" value="<%= project.id %>" selected><%= project.project_code%></option>
								<% else
								%>
								<option class="form-control" value="<%= project.id %>"><%= project.project_code%></option>
								<% 
								end } %>
							</select>
					</div>
					<div class="col-sm-3">
		    			<label for="is_billed">Is Billed :</label><br>
		    				<% if params.has_key?(:is_billed) && params[:is_billed]=='1' %>
			  					<input type="radio" name="is_billed" value="1" checked="checked"/>
			  				<% else %>
			  					<input type="radio" name="is_billed" value="1"/>
			  				<% end %>
			  			<label class="styled_label" for="is_billed_yes">Yes</label>&nbsp;
			  				<% if params.has_key?(:is_billed) && params[:is_billed]=='0' %>
			  					<input type="radio" name="is_billed" value="0" checked="checked" />
			  				<% else %>
			  					<input type="radio" name="is_billed" value="0"/>
			  				<% end %>	
			  			<label class="styled_label" for="is_billed_no">No</label>&nbsp;
		    		</div>
					<div class="col-sm-3">
						<button type="button" id="close_filter" class="buttons" style="margin-top: 12%; border-radius: 100px;"><i class="glyphicon glyphicon-remove"></i> </button>
					</div>
				</div>

			</form>
		</div>	
		<table id ="boots" class ="table" data-show-export="true" data-toggle="table" data-show-columns="true" data-search="true" data-pagination="true" data-show-filter="true" data-sort-name="date" data-sort-order ="desc"
		> 

			<thead>                      
  			<tr class="success">                          
			    <!-- <th data-field="id" data-align="right" data-sortable="true">ID</th> -->
			    <th data-sortable="true">Client</th>
			    <th data-sortable="true">Project</th>
			    <th>Task</th>
			    <th data-field="date" data-sortable="true" style="width:81px;">Date</th>
			    <th>Hours</th>
			    <th>Role</th>
			    <th>Rate</th>
			    <th data-sortable="true">Is Billed</th>
			    <th>Workspace</th>
			    <th>Comments</th>
			    <th>Employee Name</th>
			  </tr>
			</thead>
			<tbody>
		<% @timesheet.each do |entry| %>
		  <tr>
		    <!-- <td></td> -->
		    <td><%= @client.where("id" =>entry.client_id).first.client_name%></td> 
		    <td><%= @project.where("id" => entry.project_id).first.project_code %></td>  
		    <td><%= entry.task %></td> 

		    <td><%= entry.timesheetdate %></td>  

		    <td><%= entry.hours %></td>  
		    <td><%= @rolez.where("id" => entry.role_id).first.role_name %></td>  
		    <td><%= entry.rate %></td>  
		    <td><%= entry.is_billed == true ? "Yes" :"No" %></td>  
		    <td><%= entry.workspace %></td>  
		    <td><%= entry.comments %></td>  
		    <td><%= User.find(entry.employee_id).name %></td>  
		  </tr>
		<% end %>      
		</tbody>
		</table> 
		
	</body>

		<script type="text/javascript">
			//show and hide the filter divs on the click of a button
			$("#filters").click(function(){

				$("#filter_div").slideToggle();
				$("#filters").hide();

			});
			$("#close_filter").click(function(){
				$("#filter_div").slideToggle();
				$("#filters").show();
			});
		</script>
</html>
