<html>
	<head>
		<title>
			Timesheet	
		</title>
	</head>
	<body>	
				<div id="filter-bar"> </div>

		<table id ="boots" class ="table "data-toggle="table" data-show-columns="true" data-search="true" data-pagination="true" data-height="auto" data-show-filter="true"
		>
			<thead>                         
  			<tr class="success">                          
			    <th data-field="id" data-align="right" data-sortable="true">ID</th>
			    <th data-sortable="true">Client</th>
			    <th data-sortable="true">Project</th>
			    <th>Task</th>
			    <th data-sortable="true">Date</th>
			    <th>Hours</th>
			    <th>Role</th>
			    <th>Rate</th>
			    <th data-sortable="true">Is_Billed</th>
			    <th>Workspace</th>
			    <th>Comments</th>
			    <th>Employee_Name</th>
			  </tr>
			</thead>
			<tbody>
		<% @timesheet.each do |entry| %>
		  <tr>
		    <td><%= entry.id %></td> 
		    <td><%= entry.client%></td> 
		    <td><%= entry.project %></td>  
		    <td><%= entry.task %></td> 

		    <td><%= entry.timesheetdate %></td>  

		    <td><%= entry.hours %></td>  
		    <td><%= entry.role %></td>  
		    <td><%= entry.rate %></td>  
		    <td><%= entry.is_billed %></td>  
		    <td><%= entry.workspace %></td>  
		    <td><%= entry.comments %></td>  
		    <td><%= User.find(entry.employee_id).name %></td>  
		  </tr>
		<% end %>      
		</tbody>
		</table> 
		<%= link_to "/timesheet/new", class: 'btn btn-success btn-bg' do %>
  			<i class="glyphicon glyphicon-plus"></i> Add Entry
		<% end %>
		
	</body>

		<script type="text/javascript">
			$(function () {
			    $('#boots').bootstrapTable(); // init via javascript

			    $(window).resize(function () {
			        $('#boots').bootstrapTable('resetView');
			    });
			});
		</script>
</html>
