<html>
	<head>
		<title>
			Timesheet	
		</title>
	</head>
	<body>	
		<table id ="boots" class ="table "data-toggle="table" data-show-columns="true" data-search="true" data-pagination="true" data-show-filter="true" data-sort-name="date" data-sort-order ="desc"
		> 

			<thead>                      
  			<tr class="success">                          
			    <!-- <th data-field="id" data-align="right" data-sortable="true">ID</th> -->
			    <th data-sortable="true">Client</th>
			    <th data-sortable="true">Project</th>
			    <th>Task</th>
			    <th data-field="date" data-sortable="true">Date</th>
			    <th>Hours</th>
			    <th>Role</th>
			    <th>Rate</th>
			    <th data-sortable="true">Is_Billed</th>
			    <th>Workspace</th>
			    <th>Comments</th>
			    <th>Employee_Name</th>
			  </tr>
			</thead>
			<tbody>
		<% @timesheet.each do |entry| %>
		  <tr>
		    <!-- <td></td> -->
		    <td><%= entry.client%></td> 
		    <td><%= entry.project %></td>  
		    <td><%= entry.task %></td> 

		    <td><%= entry.timesheetdate %></td>  

		    <td><%= entry.hours %></td>  
		    <td><%= entry.role %></td>  
		    <td><%= entry.rate %></td>  
		    <td><%= entry.is_billed == true ? "Yes" :"No" %></td>  
		    <td><%= entry.workspace %></td>  
		    <td><%= entry.comments %></td>  
		    <td><%= User.find(entry.employee_id).name %></td>  
		  </tr>
		<% end %>      
		</tbody>
		</table> 
		
	</body>

		<script type="text/javascript">
			// $(function () {
			//     $('#boots').bootstrapTable(); // init via javascript

			//     $(window).resize(function () {
			//         $('#boots').bootstrapTable('resetView');
			//     });
			// });
		</script>
</html>
