<html>
	<head>
		<title>
			Timesheet	
		</title>
		<style>

			#inline_form {
				display: table;
				display :none;
				background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #000);
				//background:#71946E;
				color:#FFF;
				width: 100%;
				padding: 20px;
				//border-radius: 5px;
			}

			#cancel {
				//margin-left: 10%;
				background-color: #A21414;
				//position: absolute;

			}

			#submit {
				background-color: #428BCA;
				//float:left;
			}

			#submit_filter {
				background-color: #428BCA;
				//float:left;
			}

			#date_input {
				    //margin-left: 5%;
			}

			#add_new {
				margin-bottom: 40px;
			}

			#date_filter {
				margin-top: -20px;
			}

			#submit_filter {
				margin-top: 12%; 
				border-radius: 100px;
			}


	</style>
	</head>
	<body>
	<div>
		<div class="col-sm-9">	
			<button type="button" class="buttons" id="add_new">
	  			<i class="glyphicon glyphicon-plus"></i> &nbsp;Add Entry
	  		</button>
	  	</div>
	  	<div id="filter_div" class="col-sm-9">	
	  		<form id ="date_filter" action="/timesheet/<%= current_user.id.to_s%>" method="GET" class="form-horizontal">
			<div class="form-group">
					<div class="col-sm-3"> 
						<label for="start_date"> Start Date :</label>
							<input class ="form-control" type="date" name="start_date" id="start_date" value="<%= 
								if params.has_key?(:start_date)
									params[:start_date]
								else
									Date.today - 7
								end %>"/>
					</div>
					<div class="col-sm-3"> 
						<label for="end_date"> End Date :</label>
							<input class="form-control" type="date" name="end_date" id="end_date" value="<%= 
								if params.has_key?(:end_date)
									params[:end_date]
								else	
									Date.today
								end %>"/>
					</div>
					<% case current_user.id
						when 1,2,4,10,21
					%>             					
					<div class="col-sm-3"> 
						<label for="employee_filter_id"> Employee :</label>
							<select name="employee_filter_id" class="form-control">							
								<%
									@users.each { |user| if (params.has_key?(:employee_filter_id) && (user.id.to_s == params[:employee_filter_id].to_s))
								%>
								<option class="form-control" value="<%= user.id %>" selected><%= user.name%></option>
								<% elsif (user.id.to_s == params[:employee_id] && !(params.has_key?(:employee_filter_id)))
								%>
								<option class="form-control" value="<%= user.id %>" selected><%= user.name%></option>
								<% else %>
								<option class="form-control" value="<%= user.id %>"><%= user.name%></option>
								<%
								end } %>
							</select>
					</div>
					<% end %>
					<!-- <input type="hidden" name="employee_id" value="" /> -->
					<div class="col-sm-3">
						<button id="submit_filter" class="buttons"><i class="glyphicon glyphicon-ok"></i> </button>
					</div>
				</div>

			</form>
		</div>
	</div>
		<div id="inline_form">
			<%= form_for :timesheets,html: {role: "form" ,class: "form-horizontal"} do |t| %>
		<!-- Inline insertion -->
	      <div class="form-group"> 
	      	<div class="col-sm-3">
			    <label for="client">Client</label>
			      	<%= select("timesheets", "client_id", 
				       @client.collect {|p| [ p.client_name, p.id ] },{include_blank: "Select"}, {:class => "form-control", :required => true, :id => "client_select"
				    }) %>
			</div>
			<div class="col-sm-3">
			    <label for="project">Project</label>
				  	<%= select("timesheets", "project_id", 
			       @project.collect {|p| [ p.project_code, p.id ] },{include_blank: "Select"}, {:class => "form-control", :required => true, :id => "project_select"
			       	}) %>
			</div>
			<div class="col-sm-3">
		    	<label for="task">Task</label>
			  		<%= t.text_area :task, class: "form-control", :required => true %>
			</div>
			<div class="col-sm-3">
			    <label for="timesheetdate">TimesheetDate</label>
			  	<%= #t.date_select :timesheetdate, type: "date", class: "form-control", :required => true
			  		date_field(:timesheets, :timesheetdate,value: Date.today, class: "form-control", :required => true)
			  		#text_field_tag :timesheetdate, Date.today, type: :date, class: "form-control"
			  	  %>
    		</div>
  		</div>
		  <div class="form-group">
		  	<div class="col-sm-3"> 
		    	<label for="hours">Hours</label> 
			  		<%= t.number_field :hours,min: 0, class: "form-control", :step => '0.25', :required => true  %>
		  	</div>
		  	<div class="col-sm-3">
		    	<label for="role">Role</label> 
			  		<%= select("timesheets", "role_id", 
      			 	@rolez.collect {|r| [ r.role_name, r.id ] },{include_blank: "Select"}, {:class => "form-control", :required => true, :id => "role_select"}) %>
		    </div>
		    <div class="col-sm-3">
		    	<label for="rate">Rate</label> 
	  	      	<%= t.number_field :rate ,min: 0, class: "form-control",:readonly => true, :step => 'any'%>
		  	</div>
		  	<div class="col-sm-3">
			    <label for="date_range">DateRange(Optional)</label>
			  	<%= date_field("date", "range",value: Date.today, class: "form-control")
			  	  %>
    		</div>
		  </div>
		  <div class="form-group">
		  	<div class="col-sm-3" id="styled_label">
		    	<label for="is_billed">Is Billed</label><br>
			  		<%= t.radio_button :is_billed,"1",  :required => true%><label class="styled_label" for="timesheets_is_billed_1">Yes</label>	&nbsp;
			  		<%= t.radio_button :is_billed,"0",  :required => true%><label class="styled_label" for="timesheets_is_billed_0">No</label> 	&nbsp;
		    </div>
		    <div class="col-sm-3">
		    	<label for="workspace">Workplace</label><br>
			  		<%= t.radio_button :workspace,"Home", :required => true%>Home 	&nbsp;
      				<%= t.radio_button :workspace,"Office", :required => true%>Office 	&nbsp;
      				<%= t.radio_button :workspace,"Clientsite", :required => true%>Clientsite 	&nbsp;
		    </div>
		    <div class="col-sm-3">
		    	<label for="Comments">Comments</label>
			  		<%= t.text_area :comments, class: "form-control"  %>
		    </div>
		    <div class="col-sm-3" style="
									    float: right;
							    		margin-top: 3%;
							    		margin-right: -7%;}">
		      <input class ="buttons" id="submit" type="submit" value="Save" />
		      <input class ="buttons" id="cancel" type="button" value="Close" />
		    </div>
		    <div class="col-sm-3">
		  	    <%= t.hidden_field :employee_id,:value => current_user.id ,class: "form-control"  %>
		    </div>
		  </div>
		<% end %>

    		<!-- Inline insertion row ends -->
		</div>
		<!-- table displaying the timsheet -->
		<br><br>

		<table id ="boots" class ="table" data-show-export="true" data-toggle="table" data-show-columns="true" data-search="true" data-pagination="true" data-show-filter="true" data-sort-name="date" data-sort-order="desc">
			<!-- <div id="filter-bar" style="float:left;"> </div> -->	
			
			<thead>                         
  			<tr class="success">                          
			    <!-- <th data-field="id" data-align="right" data-sortable="true">ID</th> -->
			    <th data-field="client" data-sortable="true">Client</th>
			    <th data-field="project" data-sortable="true">Project</th>
			    <th>Task</th>
			    <th data-field="date" data-sortable="true">Date</th>
			    <th>Hours</th>
			    <th>Role</th>
			    <th>Rate</th>
			    <th data-sortable="true">Is_Billed</th>
			    <th>Workspace</th>
			    <th>Comments</th>
			    <th data-field="employee_name">Employee_Name</th>
			    <th>Action</th>
			  </tr>
			</thead>
			<tbody>

		<% @timesheet.collect do |entry| %>
		  <tr>
		    <!-- <td></td> -->
		    <td><%= @client.where("id" =>entry.client_id).first.client_name %></td> 
		    <td><%= @project.where("id" => entry.project_id).first.project_code %></td>  
		    <td><%= best_in_place entry, :task, type: :textarea %></td> 

		    <td><%= best_in_place entry, :timesheetdate, :as => :date %></td>  

		    <td><%= best_in_place entry, :hours %></td> 
		    <td><%= best_in_place entry, :role_id, :type=>:select, :collection => @rolez.where("project_id =?", entry.project_id).all.map{|x| [x.id, x.role_name]}
		    		#@rolez.where("id" => entry.role_id).first.role_name
		     %></td>
		     <!-- code to cascade the roles with rate -->
		     <% if ((@rolez.where("id" => entry.role_id).first.rate) != (entry.rate)) %>
		     <script type="text/javascript">
		     	 var timesheet = {'rate': <%= @rolez.where("id" => entry.role_id).first.rate %>};
		     	$.ajax({
				    url: '/timesheet.<%= entry.id %>',
				    type: 'PUT',
				    dataType: "json",
				    data: {timesheet:timesheet},
				    success: function(result) {
				        //reload the page so as to reflect the changes
				        location.reload();
				    }
				});
		     </script>
		     <% else
		 		end %>
		    <td><%= entry.rate %></td>  
		    <td><%= best_in_place entry, :is_billed, :type=>:select, :collection => @is_billed %></td>  
		    <td><%= best_in_place entry, :workspace, :type=>:select, :collection => @workspace %></td>   
		    <td><%= best_in_place entry, :comments,  type: :textarea %></td>  
		    <td><%= User.find(entry.employee_id).name %></td>  
		    <td>

				<!-- Delete confirmation modal -->
				<i class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#<%='delete_modal'+entry.id.to_s%>" style="color:#B12424; margin-left: 39%;"> </i>
				 <!-- Modal -->
				<div id="<%='delete_modal'+entry.id.to_s %>" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-body">
				        <p>Are you sure?</p>
				      </div>
				      <div class="modal-footer">
				      	 <%= link_to "/timesheet/delete/"+entry.id.to_s, method: :delete do %>
				         	<button type="button" data-dismiss="modal" class="btn btn-primary" id="delete_row">Delete</button>		
				         <% end %>
						<button type="button" data-dismiss="modal" class="btn">Cancel</button>
				      </div>
				    </div>

				  </div>
				</div>

			</td>
		  </tr>
		<% end %>
		
		</tbody>
		</table>
	</body>

		<script type="text/javascript">
			
		//changing date range to selected timesheet date to prevent ranged entries
		$("#timesheets_timesheetdate").change(function(){

			$("#date_range").val($("#timesheets_timesheetdate").val());

		});

		//submitting the form on click of tick
		$("#submit_filter").click(function(){
			document.getElementById("date_filter").submit();
		});
		// if($("#start_date").val() < $("#end_date").val()) {
			
		// 	$("#start_date").change (function(){
		// 		document.getElementById("date_filter").submit();
		// 	});

		// 	$("#end_date").change (function(){
		// 		document.getElementById("date_filter").submit();
		// 	});
		// }
		//ensuring that the date range is always greater than the timesheet date
		$("#date_range").change(function() {
  			if($('#date_range').val()< $('#timesheets_timesheetdate').val()) {
  				alert("Range date should be greater than the Timesheet Date");
  				$('#date_range').val($('#timesheets_timesheetdate').val());
  			}  				
		});

			//setting the default date format for datepicker
			$.datepicker.setDefaults({
			    dateFormat: 'yy-mm-dd'
			});


			$(document).ready(function() {
			  /* Activating Best In Place */
			  jQuery(".best_in_place").best_in_place();
			});

			// $(function () {
			//     $('#boots').bootstrapTable(); // init via javascript

			//     $(window).resize(function () {
			//         $('#boots').bootstrapTable('resetView');
			//     });
			// });

	
		  $( '#timesheets_timesheetdate_1i' ).addClass( 'form-control' );
		  $( '#timesheets_timesheetdate_2i' ).addClass( 'form-control' );
		  $( '#timesheets_timesheetdate_3i' ).addClass( 'form-control' );

		  $('#timesheets_at_home_1').change(function(){
		      $('#timesheet_at_clientsite_0').prop('checked', true)
		  });
		  $('#timesheets_at_home_0').change(function(){
		      $('#timesheet_at_clientsite_1').prop('checked', true)
		  });
		  $('#timesheets_at_clientsite_1').change(function(){
		      $('#timesheet_at_home_0').prop('checked', true)
		  });
		  $('#timesheets_at_clientsite_0').change(function(){
		      $('#timesheet_at_home_1').prop('checked', true)
		  });
		  /*
		  $('#timesheets_is_billed_0').change(function(){
		  	console.log("happened");
		      $('#timesheets_rate').val('0');
		  });
			*/

			//code to add a new row dynamically
			/*
			function addTableRow(jQtable){
			    jQtable.each(function(){
			        var $table = $(this);
			        // Number of td's in the last table row
			        var n = $('tr:last td', this).length;
			        var tds = '<tr>';
			        for(var i = 0; i < n; i++){
			           	tds += '<td><span id="'+i+'" contenteditable>1</span></td>';
			        }
			        tds += '</tr>';
			        if($('tbody', this).length > 0){
			            $('tbody', this).append(tds);
			        }else {
			            $(this).append(tds);
			            $(this).append(fend);
			        }
			    });
			} */
 			$("#add_new").click(function () {
 				$("#inline_form").slideToggle();
 				$("#add_new").hide();
 				$("#filter_div").hide();

			});

			$("#cancel").click(function () {
 				$("#inline_form").slideToggle();
 				$("#add_new").show();
 				$("#filter_div").show();
			});

			/*
			//java script function:
 			$(function() {
       		 $('#filter-bar').bootstrapTableFilter({
            filters:[
                {
                    field: 'id',    // field identifier
                    label: 'ID',    // filter label
                    type: 'range'   // filter type
                },
                {
                    field: 'client',
                    label: 'Client',
                    type: 'search',
                    //enabled: true   // filter is visible by default
                },
                {
                    field: 'project',
                    label: 'Project',
                    type: 'search',
                    //enabled: true   // filter is visible by default
                },
                {
                    field: 'is_billed',
                    label: 'Billed',
                    type: 'select',
                    values: [
                        {id: 'ROLE_ANONYMOUS', label: 'Yes'},
                        {id: 'ROLE_USER', label: 'No'}                        
                    ],
                },
                
                {
                    field: 'username',
                    label: 'User Name',
                    type: 'search'
                },
                {
                    field: 'city',
                    label: 'City',
                    type: 'ajaxSelect',
                    source: 'http://example.com/get-cities.php'
                }
            ],
            onSubmit: function() {
                var data = $('#filter-bar').bootstrapTableFilter('getData');
                console.log(data);
            }
        });
    });
			*/
		</script>
</html>
