<html>
	<head>
		<title>
			Timesheet	
		</title>
		<style>

			.form-group {
			}

			.form-control {

			}

			#inline_form {
				display: table;
				display :none;
				background:#71946E;
				color:#FFF;
				width: 100%;
				padding: 20px;
				border-radius: 5px;
			}

			#cancel {
				margin-left: 10%;
				
				position: absolute;

			}

			#submit {
				float:left;
			}

			#date_input {
				    margin-left: 5%;
			}
		</style>
	</head>
	<body>	
		<%= link_to "#", class: 'btn btn-success btn-bg container-fluid', :id => "add_new" do %>
  			<i class="glyphicon glyphicon-plus"></i> Add Entry
		<% end %>

		<div id="inline_form">
			<%= form_for :timesheets,html: {role: "form" ,class: "form-inline"} do |t| %>
		<!-- Inline insertion -->
	      <div class="form-group"> 
		    <label for="client">Client</label>
		    <div class="col-sm-10">
		      	<%= select("timesheets", "client", 
			       @client.collect {|p| [ p.client_name, p.client_name ] },{include_blank: "Select"}, {:class => "form-control", :required => true, :id => "client_select"
			    }) %>
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="project">Project</label>
		    <div class="col-sm-10">
			  	<%= select("timesheets", "project", 
		       @project.collect {|p| [ p.project_name, p.project_name ] },{include_blank: "Select"}, {:class => "form-control", :required => true, :id => "project_select"
		       	}) %>

		    </div>
		  </div>

		  <div class="form-group"> 
		    <label for="task" style="float:left;">Task</label>
		    <div class="col-sm-10">
			  	<%= t.text_area :task, class: "form-control", :required => true %>
			</div>
			</div>

			<div class="form-group" id="date_input"> 
			    <label for="timesheetdate">TimesheetDate</label>
			    <div class="col-sm-10">
			  	<%= #t.date_select :timesheetdate, type: "date", class: "form-control", :required => true
			  		date_field(:timesheets, :timesheetdate,value: Date.today, class: "form-control", :required => true)
			  		#text_field_tag :timesheetdate, Date.today, type: :date, class: "form-control"
			  	  %>

    		</div>
  			</div>
  			<br><br>
		  <div class="form-group"> 
		    <label for="hours" style="float:left;">Hours</label> 
		    <div class="col-sm-10">
			  	<%= t.number_field :hours,min: 0, class: "form-control", :step => '0.25',style: "width:60px; text-align:center;", :required => true  %>

		    </div>
		  </div>

		  <div class="form-group"> 
		    <label for="role">Role</label> 
		    <div class="col-sm-10">
			  	<%= select("timesheets", "role", 
       @rolez.collect {|r| [ r.role_name, r.role_name ] },{include_blank: "Select"}, {:class => "form-control", :required => true, :id => "role_select"}) %>

		    </div>
		  </div>

		  <div class="form-group"> 
		    <label for="rate">Rate</label> 
		    <div class="col-sm-10">
	  	      	<%= t.number_field :rate ,min: 0, class: "form-control",:readonly => true, :step => 'any', style: "width:60px; text-align:center;"  %>

		    </div>
		  </div>

		  <div class="form-group"> 
		    <label for="is_billed">Is Billed</label>
		    <div class="col-sm-10">
			  	<%= t.radio_button :is_billed,"1",  :required => true%>Yes<br>
			  	<%= t.radio_button :is_billed,"0",  :required => true%>No<br>
		    </div>
		  </div>

		  <div class="form-group"> 
		    <label for="workspace">Workplace</label>
		    <div class="col-sm-10">
			  	<%= t.radio_button :workspace,"Home", :required => true%>Home<br>
      			<%= t.radio_button :workspace,"Office", :required => true%>Office<br>
      			<%= t.radio_button :workspace,"Clientsite", :required => true%>Clientsite
		    </div>
		  </div>
		  <div class="form-group"> 
		    <label for="Comments">Comments</label>
		    <div class="col-sm-10">
			  	<%= t.text_area :comments, class: "form-control"  %>
		    </div>
		  </div>

		  <div class="form-group"> 
		    <div class="col-sm-10">
		  	    <%= t.hidden_field :employee_id,:value => current_user.id ,class: "form-control"  %>
		    </div>
		  </div> 
		  <br><br>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <input class ="btn btn-success btn-bg" id="submit" type="submit" value="Save" />
		      <input class ="btn btn-warning btn-bg" id="cancel" type="button" value="Cancel" />
		    </div>
		  </div>
		<% end %>

    		<!-- Inline insertion row ends -->
		</div>
		<!-- table displaying the timsheet -->
		<br><br>
		<table id ="boots" class ="table" data-toggle="table" data-show-columns="true" data-search="true" data-pagination="true" data-height="auto" data-show-filter="true" data-sort-name="id" data-sort-order	="desc">
			<div id="filter-bar" style="float:left;"> </div>
			<thead>                         
  			<tr class="success">                          
			    <th data-field="id" data-align="right" data-sortable="true">ID</th>
			    <th data-field="client" data-sortable="true">Client</th>
			    <th data-field="project" data-sortable="true">Project</th>
			    <th>Task</th>
			    <th data-sortable="true">Date</th>
			    <th>Hours</th>
			    <th>Role</th>
			    <th>Rate</th>
			    <th data-field="date" data-sortable="true">Is_Billed</th>
			    <th>Workspace</th>
			    <th>Comments</th>
			    <th data-field="employee_name">Employee_Name</th>
			    <th>Action</th>
			  </tr>
			</thead>
			<tbody>

		<% @timesheet.collect do |entry| %>
		  <tr>
		    <td><%= entry.id %></td> 
		    <td><%= entry.client %></td> 
		    <td><%= entry.project %></td>  
		    <td><%= best_in_place entry, :task, type: :textarea %></td> 

		    <td><%= best_in_place entry, :timesheetdate, :as => :date %></td>  

		    <td><%= best_in_place entry, :hours %></td> 
		    <td><%= #best_in_place entry, :role, :type=>:select, :collection => @roles
		    		entry.role
		     %></td> 
		    <td><%= entry.rate %></td>  
		    <td><%= best_in_place entry, :is_billed, :type=>:select, :collection => @is_billed %></td>  
		    <td><%= best_in_place entry, :workspace, :type=>:select, :collection => @workspace %></td>   
		    <td><%= best_in_place entry, :comments,  type: :textarea %></td>  
		    <td><%= User.find(entry.employee_id).name %></td>  
		    <td>

				<!-- Delete confirmation modal -->
				<i class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#delete_modal" style="color:#B12424; margin-left: 39%;"> </i>
				 <!-- Modal -->
				<div id="delete_modal" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-body">
				        <p>Are you sure?</p>
				      </div>
				      <div class="modal-footer">
				      	 <%= link_to "/timesheet/delete/"+entry.id.to_s, method: :delete do %>
				         	<button type="button" data-dismiss="modal" class="btn btn-primary" id="delete_row">Delete</button>		
				         <% end %>
						<button type="button" data-dismiss="modal" class="btn">Cancel</button>
				      </div>
				    </div>

				  </div>
				</div>

			</td>
		  </tr>
		<% end %>
		
		</tbody>
		</table>

	</body>

		<script type="text/javascript">

			//setting the default date format for datepicker
			$.datepicker.setDefaults({
			    dateFormat: 'yy-mm-dd'
			});


			$(document).ready(function() {
			  /* Activating Best In Place */
			  jQuery(".best_in_place").best_in_place();
			});

			$(function () {
			    $('#boots').bootstrapTable(); // init via javascript

			    $(window).resize(function () {
			        //$('#boots').bootstrapTable('resetView');
			    });
			});

	
		  $( '#timesheets_timesheetdate_1i' ).addClass( 'form-control' );
		  $( '#timesheets_timesheetdate_2i' ).addClass( 'form-control' );
		  $( '#timesheets_timesheetdate_3i' ).addClass( 'form-control' );

		  $('#timesheets_at_home_1').change(function(){
		      $('#timesheet_at_clientsite_0').prop('checked', true)
		  });
		  $('#timesheets_at_home_0').change(function(){
		      $('#timesheet_at_clientsite_1').prop('checked', true)
		  });
		  $('#timesheets_at_clientsite_1').change(function(){
		      $('#timesheet_at_home_0').prop('checked', true)
		  });
		  $('#timesheets_at_clientsite_0').change(function(){
		      $('#timesheet_at_home_1').prop('checked', true)
		  });
		  /*
		  $('#timesheets_is_billed_0').change(function(){
		  	console.log("happened");
		      $('#timesheets_rate').val('0');
		  });
			*/

			//code to add a new row dynamically
			/*
			function addTableRow(jQtable){
			    jQtable.each(function(){
			        var $table = $(this);
			        // Number of td's in the last table row
			        var n = $('tr:last td', this).length;
			        var tds = '<tr>';
			        for(var i = 0; i < n; i++){
			           	tds += '<td><span id="'+i+'" contenteditable>1</span></td>';
			        }
			        tds += '</tr>';
			        if($('tbody', this).length > 0){
			            $('tbody', this).append(tds);
			        }else {
			            $(this).append(tds);
			            $(this).append(fend);
			        }
			    });
			} */
 			$("#add_new").click(function () {
 				$("#inline_form").slideToggle();
 				$("#add_new").hide();


			});

			$("#cancel").click(function () {
 				$("#inline_form").slideToggle();
 				$("#add_new").show();

			});

			/*
			//java script function:
 			$(function() {
       		 $('#filter-bar').bootstrapTableFilter({
            filters:[
                {
                    field: 'id',    // field identifier
                    label: 'ID',    // filter label
                    type: 'range'   // filter type
                },
                {
                    field: 'client',
                    label: 'Client',
                    type: 'search',
                    //enabled: true   // filter is visible by default
                },
                {
                    field: 'project',
                    label: 'Project',
                    type: 'search',
                    //enabled: true   // filter is visible by default
                },
                {
                    field: 'is_billed',
                    label: 'Billed',
                    type: 'select',
                    values: [
                        {id: 'ROLE_ANONYMOUS', label: 'Yes'},
                        {id: 'ROLE_USER', label: 'No'}                        
                    ],
                },
                
                {
                    field: 'username',
                    label: 'User Name',
                    type: 'search'
                },
                {
                    field: 'city',
                    label: 'City',
                    type: 'ajaxSelect',
                    source: 'http://example.com/get-cities.php'
                }
            ],
            onSubmit: function() {
                var data = $('#filter-bar').bootstrapTableFilter('getData');
                console.log(data);
            }
        });
    });
			*/
		</script>
</html>
