<html>
	<head>
		<title>
			Timesheet	
		</title>
		<style>

			table {
				table-layout: fixed;
			}

			th, td {
			    overflow: hidden;
			}
			#inline_form {
				display :none;
			}
		</style>
	</head>
	<body>	
		<h1>This will be the page having the timesheet entries</h1>
				<%= form_for :timesheets,html: {role: "form" ,class: "form-horizontal"} do |t| %>

		<table id ="boots" class ="table" data-toggle="table" data-show-columns="true" data-search="true" data-pagination="true" data-height="auto"
		>
			<thead>                         
  			<tr class="success">                          
			    <th data-field="id" data-align="right" data-sortable="true">ID</th>
			    <th data-sortable="true">Client</th>
			    <th data-sortable="true">Project</th>
			    <th>Task</th>
			    <th data-sortable="true">Date</th>
			    <th>Hours</th>
			    <th>Role</th>
			    <th>Rate</th>
			    <th data-sortable="true">Is_Billed</th>
			    <th>Workspace</th>
			    <th>Comments</th>
			    <th>Employee_Name</th>
			    <th>Action</th>
			  </tr>
			</thead>
			<tbody>


<!-- Inline insertion row -->
    		<tr class="fields" id="inline_form">
		      <td>
		        <%= t.hidden_field :id%>
		      </td>
		      <td> 
		      	<%= select("timesheets", "client", 
			       @client.collect {|p| [ p.client_name, p.client_name ] },{include_blank: "Select"}, {:class => "form-control", :required => true, :id => "client_select", :style => "width:auto;"
			    }) %>
			  </td>
			  <td>
			  	<%= select("timesheets", "project", 
		       @project.collect {|p| [ p.project_name, p.project_name ] },{include_blank: "Select"}, {:class => "form-control", :required => true, :id => "project_select", :style => "width:auto;"
		       	}) %>
			  </td>
			  <td>
			  	<%= t.text_field :task, class: "form-control" %>

			  </td>
			  <td>
			  	<%= t.date_select :timesheetdate, class: "form-control"  %>

			  </td>
			  <td>
			  	<%= t.number_field :hours,min: 0, class: "form-control", :step => '0.5'  %>

			  </td>
			  <td>
			  	<%= select("timesheets", "role", 
       @rolez.collect {|r| [ r.role_name, r.role_name ] },{include_blank: "Select"}, {:class => "form-control", :required => true, :id => "role_select", :style => "width:auto;"}) %>
			  </td>

			  <td>
	  	      	<%= t.number_field :rate ,min: 0, class: "form-control",:readonly => true, :step => 'any'  %>

			  </td>
			  <td>
			  	<%= t.radio_button :is_billed,"1"%>Yes<br>
			  	<%= t.radio_button :is_billed,"0"%>No<br>
			  </td>
			  <td>
			  	<%= t.radio_button :workspace,"Home"%>Home<br>
      			<%= t.radio_button :workspace,"Office"%>Office<br>
      			<%= t.radio_button :workspace,"Clientsite"%>Clientsite

			  </td>
			  <td>
			  	<%= t.text_field :comments, class: "form-control"  %>

			  </td>
			  <td>
		  	    <%= t.hidden_field :employee_id,:value => current_user.id ,class: "form-control"  %>

			  </td>
			  <td>
			  	<input type="submit" value="Save" /><br><br>
			  	<button id="cancel">Cancel</button>
			  	 <% end %>
			  </td>
    		</tr>
    		<!-- Inline insertion row ends -->



		<% @timesheet.collect do |entry| %>
		  <tr>
		    <td><%= entry.id %></td> 
		    <td><%= entry.client %></td> 
		    <td><%= entry.project %></td>  
		    <td><%= best_in_place entry, :task %></td> 

		    <td><%= entry.timesheetdate %></td>  

		    <td><%= best_in_place entry, :hours %></td> 
		    <td><%= best_in_place entry, :role, :type=>:select, :collection => @roles %></td> 
		    <td><%= entry.rate %></td>  
		    <td><%= best_in_place entry, :is_billed %></td>  
		    <td><%= best_in_place entry, :workspace, :type=>:select, :collection => @workspace %></td>   
		    <td><%= best_in_place entry, :comments,  type: :textarea %></td>  
		    <td><%= User.find(entry.employee_id).name %></td>  
		    <td><%= link_to "/timesheet/delete/"+entry.id.to_s, method: :delete do %>
  			<i class="glyphicon glyphicon-remove"></i>
		<% end %></td>
		  </tr>
		<% end %>


		
		</tbody>
		</table>
 




		<%= link_to "#", class: 'btn btn-success btn-bg', :id => "add_new" do %>
  			<i class="glyphicon glyphicon-plus"></i> Add Entry
		<% end %>
		
	</body>

		<script type="text/javascript">

			$(function () {
			    $('#boots').bootstrapTable(); // init via javascript

			    $(window).resize(function () {
			        $('#boots').bootstrapTable('resetView');
			    });
			});

	
		  $( '#timesheets_timesheetdate_1i' ).addClass( 'form-control' );
		  $( '#timesheets_timesheetdate_2i' ).addClass( 'form-control' );
		  $( '#timesheets_timesheetdate_3i' ).addClass( 'form-control' );

		  $('#timesheets_at_home_1').change(function(){
		      $('#timesheet_at_clientsite_0').prop('checked', true)
		  });
		  $('#timesheets_at_home_0').change(function(){
		      $('#timesheet_at_clientsite_1').prop('checked', true)
		  });
		  $('#timesheets_at_clientsite_1').change(function(){
		      $('#timesheet_at_home_0').prop('checked', true)
		  });
		  $('#timesheets_at_clientsite_0').change(function(){
		      $('#timesheet_at_home_1').prop('checked', true)
		  });
		  /*
		  $('#timesheets_is_billed_0').change(function(){
		  	console.log("happened");
		      $('#timesheets_rate').val('0');
		  });
			*/

			//code to add a new row dynamically
			function addTableRow(jQtable){
			    jQtable.each(function(){
			        var $table = $(this);
			        // Number of td's in the last table row
			        var n = $('tr:last td', this).length;
			        var tds = '<tr>';
			        for(var i = 0; i < n; i++){
			           	tds += '<td><span id="'+i+'" contenteditable>1</span></td>';
			        }
			        tds += '</tr>';
			        if($('tbody', this).length > 0){
			            $('tbody', this).append(tds);
			        }else {
			            $(this).append(tds);
			            $(this).append(fend);
			        }
			    });
			}
 			$("#add_new").click(function () {
 				$(".fields").show();
			});

			$("#cancel").click(function () {
 				$(".fields").hide();
			});

		</script>
</html>
