<!DOCTYPE html>
<html>
<head>
	<title>Manage Details</title>
</head>
<style type="text/css">
	.buttons.save {
				background-color: #428BCA;
			}

			
	.buttons.cancel {
		background-color: #A21414;

	}

</style>
<body>
	<div>

  <!-- Nav tabs -->
  
  <!-- <ul class="nav nav-tabs nav-justified" role="tablist">

    <li role="presentation" class="active"><a href="#client" aria-controls="client" role="tab" data-toggle="tab">Clients</a></li>

    <li role="presentation"><a href="#project" aria-controls="project" role="tab" data-toggle="tab">Projects</a></li>

    <li role="presentation"><a href="#role" aria-controls="role" role="tab" data-toggle="tab">Roles & Rates</a></li>

	 <li role="presentation"><a href="#currency" aria-controls="currency" role="tab" data-toggle="tab">Currencies</a></li>

  </ul> -->

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane fade in active" id="client">

    	<!-- Trigger the modal with a button -->
		<button type="button" class="buttons" data-toggle="modal" data-target="#modal_client"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New Client</button>
    	
    	<table id ="client" class ="table "data-toggle="table" data-show-columns="true" data-search="true" data-pagination="true" >
			<thead>                         
  			<tr class="success">                          
			    <!-- <th data-field="id" data-align="right" data-sortable="true" >ID</th> -->
			    <th data-sortable="true">Client Name</th>
			    <th data-sortable="true">Client Address</th>
			    <th data-sortable="true">Projects</th>
			   	<th>Action</th>
			  </tr>
			</thead>
			<tbody>
		<% @clients.each do |client| %>
		  <tr>
		    <!-- <td></td> -->
		    <td><%= best_in_place client, :client_name %></td>
		    <td><%= best_in_place client, :client_address%></td> 
		    <td><%= @project_names[client.id]%></td>
		    <td>

				<!-- Delete confirmation modal -->
				<i class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#<%='delete_modal_client'+client.id.to_s%>" style="color:#B12424; margin-left: 39%;"> </i>
				 <!-- Modal -->
				<div id="<%='delete_modal_client'+client.id.to_s %>" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-body">
				        <p>Are you sure?</p>
				      </div>
				      <div class="modal-footer">
				      	 <%= link_to "/details/clients/"+client.id.to_s, method: :delete do %>
				         	<button type="button" data-dismiss="modal" class="btn btn-primary" id="delete_row">Delete</button>		
				         <% end %>
						<button type="button" data-dismiss="modal" class="btn">Cancel</button>
				      </div>
				    </div>

				  </div>
				</div>

			</td> 
		  </tr>
		<% end %>      
		</tbody>
		</table> 


		

		<!-- Modal -->
		<div id="modal_client" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Enter the details of the new client</h4>
		      </div>
		      <div class="modal-body">
		        <%= form_for :client_detail, url: {action: "add_client"}, html: {role: "form", class: "form-horizontal"} do |cd| %>  

				  <div class="form-group"> 
				    <label for="client" class="col-sm-2 control-label">Client Name</label>
				    <div class="col-sm-10">
				      <%= cd.text_field :client_name, class: "form-control" %>
				    </div>
				  </div>

				  <div class="form-group"> 
				    <label for="client_address" class="col-sm-2 control-label">Client Address</label>
				    <div class="col-sm-10">
				      <%= cd.text_area :client_address, class: "form-control" %>
				    </div>
				  </div>


				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <input type="submit" class= "buttons save"value="Save" />
				    </div>
				  </div>

				<% end %>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="buttons cancel" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
		</div>
    </div>

    <!--Project tab -->

    <div role="tabpanel" class="tab-pane fade" id="project">

    	<!-- Trigger the modal with a button -->
		<button type="button" class="buttons" data-toggle="modal" data-target="#modal_project"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New Project</button>

    	<table id ="project" class ="table "data-toggle="table" data-show-columns="true" data-search="true" data-pagination="true" >
			<thead>                         
  			<tr class="success">                          
			    <!-- <th data-field="id" data-align="right" data-sortable="true">ID</th> -->
			    <th data-sortable="true">Project Name</th>
			    <th data-sortable="true">Project Description</th>
			    <th data-sortable="true">Contact Person</th>
			    <th data-sortable="true">Contact Phone</th>
			    <th data-sortable="true">Contact Mail</th>
			    <th data-sortable="true">Client Name</th>
			    <th data-sortable="true">Roles</th>
			    <th>Action</th>
			  </tr>
			</thead>
			<tbody>
		<% @projects.each do |project| %>
		  <tr>
		    <!-- <td></td> -->
		    <td><%= best_in_place project, :project_name%></td>
		    <td><%= best_in_place project, :project_description%></td>
		    <td><%= best_in_place project, :contact_person%></td>
		    <td><%= best_in_place project, :contact_phone%></td>
		    <td><%= best_in_place project, :contact_mail%></td> 
		    <td><%= @client_names[project.client_id] %></td> 
		   	<td><%= @role_names[project.id] %></td> 
		   	<td>

				<!-- Delete confirmation modal -->
				<i class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#<%='delete_modal_project'+project.id.to_s%>" style="color:#B12424; margin-left: 39%;"> </i>
				 <!-- Modal -->
				<div id="<%='delete_modal_project'+project.id.to_s %>" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-body">
				        <p>Are you sure?</p>
				      </div>
				      <div class="modal-footer">
				      	 <%= link_to "/details/projects/"+project.id.to_s, method: :delete do %>
				         	<button type="button" data-dismiss="modal" class="btn btn-primary" id="delete_row">Delete</button>		
				         <% end %>
						<button type="button" data-dismiss="modal" class="btn">Cancel</button>
				      </div>
				    </div>

				  </div>
				</div>

			</td> 
		  </tr>
		<% end %>      
		</tbody>
		</table> 


		

		<!-- Modal -->
		<div id="modal_project" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Enter the details of the new client</h4>
		      </div>
		      <div class="modal-body">
		        <%= form_for :project_detail, url: {action: "add_project"}, html: {role: "form", class: "form-horizontal"} do |pd| %>  

				  <div class="form-group"> 
				    <label for="project_name" class="col-sm-2 control-label">Project Name</label>
				    <div class="col-sm-10">
				      <%= pd.text_field :project_name, class: "form-control" %>
				    </div>
				  </div>

				  <div class="form-group"> 
				    <label for="project_description" class="col-sm-2 control-label">Project Description</label>
				    <div class="col-sm-10">
				      <%= pd.text_area :project_description, class: "form-control" %>
				    </div>
				  </div>

				  <div class="form-group"> 
				    <label for="contact_person" class="col-sm-2 control-label">Name of Contact Person</label>
				    <div class="col-sm-10">
				      <%= pd.text_field :contact_person, class: "form-control" %>
				    </div>
				  </div>

				  <div class="form-group"> 
				    <label for="contact_phone" class="col-sm-2 control-label">Phone Number of Contact Person</label>
				    <div class="col-sm-10">
				      <%= pd.text_field :contact_phone, class: "form-control" %>
				    </div>
				  </div>

				  <div class="form-group"> 
				    <label for="contact_mail" class="col-sm-2 control-label">E-mail of Contact Person</label>
				    <div class="col-sm-10">
				      <%= pd.text_field :contact_mail, class: "form-control" %>
				    </div>
				  </div>

				  <div class="form-group"> 
				    <label for="client_name" class="col-sm-2 control-label">Client Name</label>
				    <div class="col-sm-10">
				      <%= select("project_detail", "client_id", 
				       @clients.collect {|p| [ p.client_name, p.id ] },{include_blank: "Select Client Name"}, {:class => "form-control", :required => true, :id => "client_select"
				        }) %>
				    </div>
				  </div>

				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <input type="submit" class= "buttons save" value="Save" />
				    </div>
				  </div>

				<% end %>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="buttons cancel" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
		</div>

    </div>



    <!-- Role Tab -->
    <div role="tabpanel" class="tab-pane fade" id="role">

    <!-- Trigger the modal with a button -->
		<button type="button" class="buttons" data-toggle="modal" data-target="#modal_role"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New Role</button>

    <table id ="role" class ="table "data-toggle="table" data-show-columns="true" data-search="true" data-pagination="true" >
			<thead>                         
  			<tr class="success">                          
			    <!--<th data-field="id" data-align="right" data-sortable="true">ID</th> -->
			    <th data-sortable="true">Role</th>
			    <th data-sortable="true">Rate</th>
			    <th data-sortable="true">Project</th>
			    <th>Description</th>
			   	<th>Action</th>			    			    
			  </tr>
			</thead>
			<tbody>
		<% @roles.each do |role| %>
		  <tr>
		    <!-- <td></td> -->
		    <td><%= best_in_place role, :role_name%></td> 
		    <td><label><%= @currency_names[role.currency_id].to_s%></label> 
		    	<%= best_in_place role, :rate%>
		    </td> 
		   	<td><%= @role_project_names[role.project_id]%></td>
		    <td><%= best_in_place role, :role_description%></td>
		    <td>

				<!-- Delete confirmation modal -->
				<i class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#<%='delete_modal_role'+role.id.to_s%>" style="color:#B12424; margin-left: 39%;"> </i>
				 <!-- Modal -->
				<div id="<%='delete_modal_role'+role.id.to_s %>" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-body">
				        <p>Are you sure?</p>
				      </div>
				      <div class="modal-footer">
				      	 <%= link_to "/details/roles/"+role.id.to_s, method: :delete do %>
				         	<button type="button" data-dismiss="modal" class="btn btn-primary" id="delete_row">Delete</button>		
				         <% end %>
						<button type="button" data-dismiss="modal" class="btn">Cancel</button>
				      </div>
				    </div>

				  </div>
				</div>

			</td> 

		  </tr>
		<% end %>      
		</tbody>
		</table> 


		

		<!-- Modal -->
		<div id="modal_role" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Enter the details of the new Role</h4>
		      </div>
		      <div class="modal-body">
		        <%= form_for :role_detail,url: {action: "add_role"} , html: {role: "form", class: "form-horizontal"} do |rd| %>  

				  <div class="form-group"> 
				    <label for="role" class="col-sm-2 control-label">Role Name</label>
				    <div class="col-sm-10">
				      <%= rd.text_field :role_name, class: "form-control" %>
				    </div>
				  </div>

				  <div class="form-group"> 
				    <label for="rate" class="col-sm-2 control-label">Rate</label> 
				    <div class="col-sm-10">
				      <%= rd.number_field :rate ,min: 0, class: "form-control", :step => 'any'  %>
				    </div>
				  </div>

				   <div class="form-group"> 
				    <label for="currency" class="col-sm-2 control-label">Currency Name</label>
				    <div class="col-sm-10">
				      <%= select("role_detail", "currency_id", 
				       @currencies.collect {|c| [ c.currency_name, c.id ] },{include_blank: "Select Currency Name"}, {:class => "form-control", :required => true, :id => "currency_select"
				        }) %>
				    </div>
				  </div>

				  <div class="form-group"> 
				    <label for="project_name" class="col-sm-2 control-label">Project Name</label>
				    <div class="col-sm-10">
				      <%= select("role_detail", "project_id", 
				       @projects.collect {|p| [ p.project_name, p.id ] },{include_blank: "Select Project Name"}, {:class => "form-control", :required => true, :id => "project_select"
				        }) %>
				    </div>
				  </div>

				  <div class="form-group"> 
				    <label for="role_description" class="col-sm-2 control-label">Role Description</label>
				    <div class="col-sm-10">
				      <%= rd.text_area :role_description, class: "form-control" %>
				    </div>
				  </div>

				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <input type="submit" class= "buttons save" value="Save" />
				    </div>
				  </div>

				<% end %>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="buttons cancel" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
		</div>

    </div>


    <!-- Currency Tab -->
    <div role="tabpanel" class="tab-pane fade" id="currency">

    <!-- Trigger the modal with a button -->
		<button type="button" class="buttons" data-toggle="modal" data-target="#modal_currency"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New Currency</button>

    <table id ="currency" class ="table "data-toggle="table" data-show-columns="true" data-search="true" data-pagination="true" >
			<thead>                         
  			<tr class="success">                          
			    <!-- <th data-field="id" data-align="right" data-sortable="true">ID</th> -->
			    <th data-sortable="true">Currency Name</th>
			    <th data-sortable="true">Currency Symbol</th>
			    <th>Country</th>
			    <th>Description</th>
			    <th>Action</th>			    			    
			  </tr>
			</thead>
			<tbody>
		<% @currencies.each do |currency| %>
		  <tr>
		    <!-- <td></td> -->
		    <td><%= best_in_place currency, :currency_name%></td> 
		    <td><%= best_in_place currency, :currency_symbol%></td> 
		    <td><%= best_in_place currency, :country%></td>
		    <td><%= best_in_place currency, :description%></td>
		     <td>

				<!-- Delete confirmation modal -->
				<i class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#<%='delete_modal_currency'+currency.id.to_s%>" style="color:#B12424; margin-left: 39%;"> </i>
				 <!-- Modal -->
				<div id="<%='delete_modal_currency'+currency.id.to_s %>" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-body">
				        <p>Are you sure?</p>
				      </div>
				      <div class="modal-footer">
				      	 <%= link_to "/details/currencies/"+currency.id.to_s, method: :delete do %>
				         	<button type="button" data-dismiss="modal" class="btn btn-primary" id="delete_row">Delete</button>		
				         <% end %>
						<button type="button" data-dismiss="modal" class="btn">Cancel</button>
				      </div>
				    </div>

				  </div>
				</div>

			</td> 
		  </tr>
		<% end %>      
		</tbody>
		</table> 


		

		<!-- Modal -->
		<div id="modal_currency" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Enter the details of the new Currency</h4>
		      </div>
		      <div class="modal-body">
		        <%= form_for :currency_detail,url: {action: "add_currency"} , html: {role: "form", class: "form-horizontal"} do |cr| %>  

				  <div class="form-group"> 
				    <label for="currency_name" class="col-sm-2 control-label">Currency Name</label>
				    <div class="col-sm-10">
				      <%= cr.text_field :currency_name, class: "form-control" %>
				    </div>
				  </div>

				  <div class="form-group"> 
				    <label for="currency_symbol" class="col-sm-2 control-label">Currency Symbol</label>
				    <div class="col-sm-10">
				      <%= cr.text_field :currency_symbol, class: "form-control" %>
				    </div>
				  </div>

				  <div class="form-group"> 
				    <label for="country" class="col-sm-2 control-label">Country</label> 
				    <div class="col-sm-10">
				      <%= cr.text_field :country , class: "form-control"  %>
				    </div>
				  </div>

				  <div class="form-group"> 
				    <label for="description" class="col-sm-2 control-label">Description</label>
				    <div class="col-sm-10">
				      <%= cr.text_area :description, class: "form-control" %>
				    </div>
				  </div>

				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <input type="submit" class= "buttons save"value="Save" />
				    </div>
				  </div>

				<% end %>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="buttons cancel" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
		</div>

    </div>

  </div>

</div>
</body>
<script type="text/javascript">

			//for best in place plugin
			$(document).ready(function() {
			  /* Activating Best In Place */
			  jQuery(".best_in_place").best_in_place();
			});


			// $(function () {
			//    $('.table').bootstrapTable(); // init via javascript

			//     $(window).resize(function () {
			//         $('.table').bootstrapTable('resetView');
			//     });

			// });
</script>
</html>