<!DOCTYPE html>
<html>
<head>
  <title>Adams</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/navigation' %>
<div style="margin-left: 44%;">
   <% if current_user %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "btn btn-success btn-bg" %>
      <% end %>
</div>
	<div id="main-container" class="container">
      <div class="row">
        <!--
        <div class="col-xs-3">
          <h3>Adams Timesheet Manager</h3>
        </div>
        -->
        <div class="col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>
</body>
</html>
